.row
  .au-form
    %h4 Resend confirmation instructions
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = f.full_error :confirmation_token
      %div{:class => "form-group #{"has-error" if f.object.errors.include?(:email)}"}
        .input-group
          .input-group-addon
            %i.fa.fa-envelope
          = f.input_field :email, class:"form-control", required: true, label: false, autofocus: true, placeholder: "email"
        %span.help-block
          = f.object.errors[:email].join(", ")
      .form-actions
        = f.button :submit, "Resend confirmation instructions", class: "btn btn-primary btn-block"
    = render "devise/shared/links"
