<h5 class="subheader">comments:</h5>			
<ul class="no-bullet comments">
  <% commentable.cached_comments.each do |comment| %>
  <li class="comment" id="comment_<%=comment.id%>">
    <b><%= link_to "#{comment.user.try(:username)}", user_path(comment.user)%>:</b>
    <!-- <b><%= comment.user.try(:username) %>:</b> -->
    <%= comment.body%>
    <% if current_user.try(:admin?) %>
    <span class="right">
      <%= link_to "x", [commentable,comment], method: :delete, data:{confirm: "Are you sure?"}, class:"del_link", remote: true %>
    </span>
    <% end %>
  </li>
  <% end %>
</ul>


