<div id="cmt_form_wrapper">
  <% if user_signed_in? %>
  <div id="comment_box">
    <%= simple_form_for([commentable, Comment.new], remote: true) do |f| %>
       <h4 class="c_counter right"><small><em id="count"></em> characters remaining</small></h4>
      <%= f.input :body, label: false, placeholder: "at least 5 characters"%>
      <%= f.button :submit, "Submit", class: "button tiny" %>
    <% end %>

  </div>
  <% else %>
  <h6 class="subheader"><%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to comment</h6>
  <% end %>
</div>
