<% if user_signed_in? %>
<div id="comment_box">
  <%= simple_form_for([@build, @build.comments.build], remote: true) do |f| %>
    <%= f.input :body, label: "leave a comment", placeholder: "enter at least 10 characters"%>
    <%= f.button :submit, "Submit", class: "button tiny" %>
  <% end %>
</div>
<% else %>
<h6 class="subheader"><%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to comment</h6>
<% end %>