<%# form_for(@build) do |f| %>
  <% if @build.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build.errors.count, "error") %> prohibited this build from being saved:</h2>

      <ul>
      <% @build.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= simple_form_for @build do |f| %>
<div class="row">
  <div class="medium-4 columns">
  <%= f.input :b_type,
              label: "Build type",
              collection: ["n/a", "Mini", "Mid", "Pro", "Laptop"],
              selected: @build.b_type || "n/a"  %>
  </div>
  
  <div class="medium-3 columns left">
  <%= f.input :status,
              label: "Build status",
              collection: ["other", "success", "warning"],
              selected: @build.status || "other"  %>
  </div>
</div>  
           
<div class="row">
  <div class="medium-6 columns">
  <%= f.input :name,
              label: "Build name",
              placeholder: "if empty your username will be used" %>
  </div>
        
  <div class="medium-6 columns">              
  <%= f.input :spec,
              label: "Short specs",
              placeholder: "GA-P55A-UD3 / i5-750 / 12GB / GTX460 / 10.9.4" %>
  </div>
</div>              

<div id="hw" class="row">
  <div id="mobo" class="medium-4 columns">              
  <%= f.input :mb,
              label: "Motherboard",
              placeholder: "Gigabyte GA-P55A-UD3 rev. 1 Bios F11" %>
  </div>
  
  <div class="medium-4 columns">             
  <%= f.input :cpu,
              label: "CPU",
              placeholder: "Intel Core i5 750 2,66Ghz overclocked @ 3,66Ghz/183x20" %>
  </div>
  
  <div class="medium-4 columns">             
  <%= f.input :gpu,
              label: "GPU",
              placeholder: "Gigabyte GTX560Ti 1GB Superoverclock GV-N560SO-1GI-950" %>
  </div>
  
  <div class="medium-4 columns">              
  <%= f.input :ram,
              label: "RAM",
              placeholder: "2x4GB DDR3 Kingston HyperX Blue 1600Mhz overclocked @ 1830Mhz" %>
  </div>
  
  <div class="medium-4 columns">            
  <%= f.input :disk,
              label: "HDD/SSD",
              placeholder: "Samsung 840 Basic 120GB" %>
  </div>
  
  <div class="medium-4 columns">            
  <%= f.input :chassis,
              label: "CHASSIS",
              placeholder: "" %>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns ">            
  <%= f.input :cost,
              label: "Average cost",
              placeholder:"$" %>
  </div>
</div>              

<div class="row">
  <div class="medium-4 columns">
  <%= f.input :os,
              label: "OS",
              placeholder: "10.9.5 Mavericks" %>
  </div>
  
  <div class="medium-4 columns left">              
  <%= f.input :im,
              label: "Installation method",
              placeholder: "clover, multibeast..." %>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns instructions">        
  <%= f.input :body,
              label: "Installation notes, instructions, photos...",
              placeholder: "use markdown",
              :input_html => {:rows => 30} %>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
  <%= f.button :submit, "Submit", class: "button tiny" %>
    <small><%= link_to "Cancel", root_path, class: "button secondary tiny" %></small>	  
  </div>
</div>

<% end %>



