<div class="row">
  
	<div class="small-12 medium-7 large-8 columns">		  
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd><%= bar_link "All", builds_path(:t => "all") %></dd>
      <dd><%= bar_link "Mini", builds_path(:t => "mini") %></dd>
      <dd><%= bar_link "Mid", builds_path(:t => "mid") %></dd>
      <dd><%= bar_link "Pro", builds_path(:t => "pro") %></dd>
      <dd><%= bar_link "Laptop", builds_path(:t => "laptop") %></dd>  
    </dl>

<% if @builds.present? %>
    <% @builds.each do |build| %>    
		<ul class="inline-list items" style="	border-left: 3px solid <%= lab(build.b_type) %>">
      <li><%= link_to build_path(build) do %><span class="conf grayed"><%= build.spec %></span>    <% end %></li>
	  	<li><span class="im"><%= build.im %></span></li>      
	  	<li><span class="uc" style="color: <%= lab(build.status) %>">[<%= build.status %>]</span></li>      
      <li><span class="label info radius">~$<%= build.cost %></span></li>
      <li><span class="title show-for-xlarge-up"><%= link_to "#{build.name}", build_path(build) %></span></li>      
		</ul>
    <% end %>
    
    <%= paginate @builds %>
   
    <% else %>
    <div class="panel radius b30">
     <h4>Nothing's found for <%= "#{params[:search]}" %></h4>
     <%= link_to "Home page", root_path %>
    </div>
    <% end %>
    
    <%# render "shared/ad_300x250"%>
  </div>
  
  <div class="medium-5 large-4  columns show-for-medium-up sidebar">      
      <%= form_tag(builds_path, method: "get") do%>
      <%= text_field_tag :search, params[:search], placeholder: "search", class: "search"%>
      <% end %>
      <%= render "shared/twitter_feed"%>
      <%= render "shared/ad_300x600"%>
      <%= render "shared/ad_300x250"%>
  </div>
</div>

<%= render "shared/ad_btm"%>

