<p id="notice"><%= notice %></p>

<div class="row">
	<div class="medium-12 columns content">		  
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd><%= bar_link "All", builds_path(:t => "all") %></dd>
      <dd><%= bar_link "Mini", builds_path(:t => "mini") %></dd>
      <dd><%= bar_link "Mid", builds_path(:t => "mid") %></dd>
      <dd><%= bar_link "Pro", builds_path(:t => "pro") %></dd>
      <dd><%= bar_link "Laptop", builds_path(:t => "laptop") %></dd>  
    </dl>

    <% @builds.each do |build| %>
		<ul class="inline-list items" style="	border-left: 3px solid <%= lab(build.b_type) %>">
    	<li><span class="title"><%= link_to "#{build.name}", build_path(build) %></span></li>
			<li><span style="color: <%= lab(build.b_type) %>"><%= build.b_type %></span></li>
	  	<li><span class="conf grayed"><%= build.spec %></span></li>
	  	<li><span class="im"><%= build.im %></span></li>
	  	<li><span class="stat_success"><%= build.status %></span></li>
	  	<li><span class="cost">~$<%= build.cost %></span></li>
		</ul>
    <% end %>
  </div>
</div>


