
<%
  meta title: "hqx86",
       description: "hqx86.com hackintosh builds board",
       keywords: %w(hackintosh macos mac osx86 osx builds hqx86.com instructions)
%>

<div class="row">
  <div class="form-group text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag builds_path, method: :get, class:"input-group" do %>
          <%= text_field_tag :query, params[:query], class: "form-control typeahead", id: "build_search", placeholder: "Search for builds e.g GA-Z97-...",  maxlength: 200, minlength: 3, required: "required" %>
          <span class="input-group-btn">
            <%= button_tag "Go!", class:"btn btn-primary" %>
          </span>
      <% end %>
      <br>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="gallery-env">
      <div class="row">
        <%= render partial: "builds", locals:{ builds: @builds}%>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/info_sec'%>


