<div class="row">
	<div class="large-10 columns content">		  
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd><%= bar_link "All", builds_path(:t => "all") %></dd>
      <dd><%= bar_link "Mini", builds_path(:t => "mini") %></dd>
      <dd><%= bar_link "Mid", builds_path(:t => "mid") %></dd>
      <dd><%= bar_link "Pro", builds_path(:t => "pro") %></dd>
      <dd><%= bar_link "Laptop", builds_path(:t => "laptop") %></dd>  
    </dl>

<% if @builds.present? %>
    <% @builds.each do |build| %>    
		<ul class="inline-list items" style="	border-left: 3px solid <%= lab(build.b_type) %>">
      <li><%= link_to build_path(build) do %><span class="conf grayed"><%= build.spec %></span>    <% end %></li>

			<li><span style="color: <%= lab(build.b_type) %>"><%= build.b_type %></span></li>
	  	<li><span class="im"><%= build.im %></span></li>      
	  	<li><span class="uc" style="color: <%= lab(build.status) %>">[<%= build.status %>]</span></li>      
	  	<li><span class="label info radius">~$<%= build.cost %></span></li>    	<li><span class="title"><%= link_to "#{build.name}", build_path(build) %></span></li>
		</ul>
    <% end %>
    
    <%= paginate @builds %>
    
    <div class="bottom_page_div" >
      <img style="display:block; margin: 30px auto;" src="https://lh5.ggpht.com/NFYFP2H9CCP50vAQNLa7AtCj_mbbYmOzY978fZqd31oL5qOdvXgxU3KW8ek2VgvIOvTqWY0=w728">
    </div>
    
    <% else %>
    <div class="panel radius b30">
     <h4>Nothing's found for <%= "#{params[:search]}" %></h4>
    </div>
    <% end %>
  </div>
  
  <div class="large-4 columns right_panel show-for-large-up">      
      <%= form_tag(builds_path, method: "get") do%>
      <%= text_field_tag :search, params[:search], placeholder: "search", class: "search"%>
      <% end %>
    <div class=" radius b30">
      
<a class="twitter-timeline" href="https://twitter.com/search?q=hackintosh" data-widget-id="613036226984198145">Tweets about hackintosh</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div> 
    
    <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ad+Space" alt=""> 
    <div class="border-dotted radius b30"> 
      <img src="http://placekitten.com/271/270" alt="uh, Placekitten"> 
      <p class="text-left"> This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a> </p>
    </div> 
  </div>
</div>


