<%
  meta title: "#{@build.name}: #{@build.spec}",
       description: "#{@build.name}: #{@build.spec}",
       keywords: %w(hackintosh macos mac osx86 osx builds hqx86.com)<<@build.spec.split("/")
%>

<div class="row">
  <div class="col-md-12">
    <div class="gallery-env">
      <div class="row">
        <div class="col-sm-12">
          <article class="album">
            <section class="album-info">
              <h4><%= link_to build_path(@build) do %><span><%= @build.title %></span><% end %></h4>

              <ul>
                <li style="color: <%= lab(@build.b_type) %>; font-weight: bold;"><%= @build.b_type %></li>
                <li><%= @build.im %></li>
                <li class="label label-success status" style="background-color: <%= lab(@build.status) %>"><%= @build.status %></li>
                <li>~$<%= @build.cost %></li>
                <li><%= time_ago_in_words(@build.created_at) + ' ago' %></li>
                  <span style="float: right">                
                  <%= link_to '<i class="fa fa-pencil-square-o"> edit</i>'.html_safe, edit_build_path(@build) if current_user.try(:admin?) || current_user.try(:id) == @build.user_id%>	 </span>
              </ul>


            </section>
          </article>

          <div class="row build_info">
            <div class="col-sm-6">
              <div id="specs">
                <strong>Essentials:</strong>
                <ul class="build_hw">
                  <li id="mb"><b>Motherboard:</b> <%= item_url(@build.mb, @build.mb_url) %></li>
                  <li id="cpu"><b>CPU:</b> <%= item_url(@build.cpu, @build.cpu_url) %></li>
                  <li id="gpu"><b>GPU:</b> <%= item_url(@build.gpu, @build.gpu_url) %></li>
                  <li id="ram"><b>RAM:</b> <%= item_url(@build.ram, @build.ram_url) %></li>
                  <li id="disk"><b>HDD/SSD:</b> <%= item_url(@build.disk, @build.disk_url) %></li>
                  <li id="os"><b>CHASSIS:</b> <%= item_url(@build.chassis, @build.chassis_url) %></li>
                  <li id="os"><b>OS:</b> <%= @build.os %></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <strong>Other hardware and peripherials:</strong>
              <div class="other_hw">
                <%= markdown(@build.other_hw) if @build.other_hw %>
              </div>
            </div>
          </div>

          <div class="installation_notes">
            <%= markdown(@build.body) %>
          </div>

          <%= render "shared/share_links"%>



          <hr/>
          <%= render partial: "comments/form", locals: {commentable: @build}%>
          <%= render partial: "comments/comments", locals: {commentable: @build} %>



        </div>
      </div>
    </div>
    <%= render "shared/info_sec"%>
  </div>
</div>