
<%= simple_form_for @user, html: {class:"form-horizontal form-groups-bordered"} do |f| %>
    <div class="form-group">
      <label for="field-1" class="col-sm-3 control-label">Current build</label>

      <div class="col-sm-5">
        <%= f.input_field :current_build, class:"form-control", placeholder: "GA-P55A-UD3 / i5-750 / 12GB / GTX460 / 10.9.4", label: false %>
      </div>
    </div>

    <div class="form-group ">
      <label for="field-1" class="col-sm-3 control-label">Contact details</label>

      <div class="col-sm-5 ">
        <%= f.input_field :contact_details, class:"form-control", placeholder: "skype, icq, whatsapp, viber...", label: false %>
      </div>
    </div>

    <div class="form-group">
      <label for="field-ta" class="col-sm-3 control-label">Info</label>

      <div class="col-sm-5" >
        <%= f.input_field :user_info, class:"form-control autogrow",
                          as: :text,
                          placeholder: "Here you can write something about yourself (interests, services, offers that you can provide...  anything you want.",
                          style:"overflow: hidden; word-wrap: break-word; resize: horizontal; min-height: 100px;",
                          label: false %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <%= f.button :submit, "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", @user, class: "btn btn-default" %>
      </div>
    </div>
<% end %>

