<%= simple_form_for @user do |f| %>
<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    <%= f.input :current_build, placeholder: "GA-P55A-UD3 / i5-750 / 12GB / GTX460 / 10.9.4" %>
    <%= f.input :contact_details, placeholder: "skype, icq, whatsapp, viber....." %>
    <%= f.input :user_info, input_html: {rows: 10}, label: "Info" , placeholder: "write somethig about you (interests...or anything you want)"  %>
  </div>
  
</div>
<div class="row">
  <div class="medium-6 medium-offset-3  columns">
  <%= f.button :submit, "Save", class: "button tiny" %>
    <small><%= link_to "Cancel", @user, class: "button secondary tiny" %></small>	  
  </div>
</div>
<% end %>
