
	<div class="col-sm-12">    
    <div class="gallery-env">
			<div class="row">	
        <% if @user_builds.present? %>
          <% @user_builds.each do |build| %>
            <% cache(build) do %><%# rd caching %>                       
              <% if build.published || build.user==current_user %>
                	<div class="col-sm-6">				
                		<article class="album">					
                			<section class="album-info">
                				<h4>
                          <%= link_to build_path(build) do %><span><%= build.title %></span><% end %>
                          <span class="label label-danger"><%= "Not published" if !build.published? && (build.user == current_user) %></span>
                        </h4>
			
                				<ul>
                					<li style="color: <%= lab(build.b_type) %>; font-weight: bold;"><%= build.b_type %></li>
                					<li><%= build.im %></li>
                					<li class="label label-success status" style="background-color: <%= lab(build.status) %>"><%= build.status %></li>
                					<li>~$<%= build.cost %></li>
                					<li><%= time_ago_in_words(build.created_at) + ' ago' %></li>
                				</ul>					
                        		
                			</section>
                		</article>				
                	</div>
              <% end %>       
            <% end %>
          <% end %><%# end rd caching %>    
        <% end %>
      </div>
      <%= paginate @user_builds %>
    </div>        
  </div>
