<div class="row">
	<div class="middle-12 columns">
    <h5 class="subheader">All Users (<%= @users.length %>)</h5>
		<% @users.each do |user| %>
			<ul class="inline-list admin-items">
				<li><%= user.id %>.</li>
        <li class="label secondary">last sign in:<%= user.last_sign_in_at.to_formatted_s(:short) %></li>
        <li class="label secondary">created at:<%= user.created_at %></li>
        <li class="label secondary">builds:<%# user.builds.length %></li>
        <li class="label secondary">comments:<%# user.comments.length %></li>
			  <li><%= user.username %></li>
			  <li><%= user.email %></li>
			  <li><%= link_to "show", user_path(user) %></li>
			  <li><%= link_to "edit", "#" %></li>
        <% unless user == current_user && current_user.admin? %>
			  <li>
        <%= link_to "x", user, method: :delete, data: {confirm: "Are you sure?"} %>
        </li>
        <% end %>
        <% if user.admin? %>
				<li class="label alert">Admin</li>
        <% end %>
			</ul>
		<% end %>
    <%= paginate @users %>
	</div>
</div>