<div class="row">
	<div class="small-12 medium-7 large-8 columns">
    <h5 class="subheader">latest builds:</h5>
      <% if @user.builds.present? %>	
      <% @user_builds.each do |build| %>
        <% cache(build) do %><%# rd caching %>	    
        <% if build.published? || (build.user == current_user || current_user.try(:admin)) %>
    		<ul class="inline-list items" style="	border-left: 3px solid <%= lab(build.b_type) %>">
          <li><%= link_to build_path(build) do %><span class="conf grayed"><%= build.spec %></span><% end %></li>
    	  	<li><span class="im"><%= build.im %></span></li>      
    	  	<li><span class="stat_success">[<%= build.status %>]</span></li>      
    	  	<li><span class="label info radius">~$<%= build.cost %></span></li>
        <% unless build.published %>
          <li><span class="label warning">Not Published</span></li>
        <% end %>
    		</ul>
        <% end %>
        <% end %><%# end rd caching %>
      <% end %>
      <%= paginate @user_builds %>
    <% else%>
    <h5 class="subheader">Nothing's here yet</h5>
    <% end %>
  </div>
  
	<div class="medium-5 large-4  columns show-for-medium-up sidebar">
    <h5 class="subheader">Profile</h5>	      
      <div class="panel radius callout user_info">
          Username: <%= @user.username %><br/>          
          Join Date: <%= @user.created_at.to_formatted_s(:long)%><br/>
          <hr/>
  
          <%= @user.current_build.present? ? @user.current_build : "No current build."%><hr/>
          <%= @user.contact_details.present? ? @user.contact_details : "No contact info yet."%><hr/>
          <%= @user.user_info.present? ? @user.user_info : "This user hasn't shared any info yet."%><hr/>
           
         <% if @user == current_user || current_user.try(:admin?) %>
          <%= link_to "Edit Profile", edit_user_path %>
          <%= link_to "(Edit Account)", edit_user_registration_path, class: "right", style:"color:rgb(216, 216, 216);" %>
         <% end %>
      </div> 
  </div>
</div>