<div class="row">
	<div class="medium-9 columns">	
    <h4 class="subheader"><%= @user.username %></h4>
    
    <ul class="vcard">
      <li class="email"><a href="#"><%= @user.email %></a></li>
      <li><%= @user.username %></li>
      <li>current sign in at:<%= @user.current_sign_in_at.to_formatted_s(:short) %></li>
      <li>last sign in at:<%= @user.last_sign_in_at.to_formatted_s(:short) %></li>
      <li>ip:<%= @user.current_sign_in_ip %></li>
      <li>admin?:<%= @user.admin? %></li>
      <li>&nbsp;</li>
      <% unless @user.admin? %>
      <li><%= link_to "edit", edit_user_path(@user), class: "button tiny expand regular"%></li>
      <li><%= link_to "delete", @user, method: :delete, data: {confirm: "Are you sure?"}, class: "button tiny expand alert"%></li>
      <% end %>
    </ul>
  </div>
</div>