  <hr/>


<div class="row">
  <div class="col-sm-3">
    <%= render "shared/twitter_feed"%>
  </div >
  <div class="col-sm-4  col-sm-offset-1 res">
    <h4>Helpfull Mac & Hackintosh resources</h4>
<style>
.res a{
  color:#21a9e1;
}
</style>
    <h4><%= link_to "reddit.com/r/mac", "https://www.reddit.com/r/mac/", target: "_blank"%><h4>
    <h4><%= link_to "reddit.com/r/macsetups", "https://www.reddit.com/r/macsetups/", target: "_blank"%><h4>
    <h4><%= link_to "reddit.com/r/hackintosh", "https://www.reddit.com/r/hackintosh/", target: "_blank"%><h4>      
  </div >
  <div class="col-sm-4 res">
    <h4>Contacts</h4>
    <h5>If you have any questions or offers use one of the following contact methods:</h5>
    <h5><%= link_to "@hqx86", "https://twitter.com/hqx86" %></h5>
    <h5>hqx86@gmail.com</h5>
    <h5><%= link_to "Contact us", contact_us_path %> page</h5>    
  </div>
</div>