<% @builds.each do |build| %>    
<ul class="inline-list items admin-items" style="	border-left: 3px solid <%= lab(build.b_type) %>">
  <li><%= build.id %>.</li>
  <li><%= link_to build_path(build) do %><span class="conf grayed"><%= build.spec %></span>    <% end %></li>   
  <li><span class="stat_success">[<%= build.status %>]</span></li>      
  <li><span class="title"><%= link_to "#{build.name}", build_path(build) %></span></li>
  <% if build.user.deleted_at %>
  <li class="label warning">User soft deleted at: <%= build.user.deleted_at %></li>
  <% end %>
  <li><%= link_to "edit", edit_build_path(build) %></li>
  <li><%= link_to "delete", build, method: :delete, data: {confirm: "Are you sure?"} %></li>
</ul>
<% end %>
<%= paginate @builds %>
