<div class="row">
  <div class="col-sm-12">


    <h3>Latest builds</h3>

    <table class="table table-bordered responsive">
      <thead>
      <tr>
        <th width="2%">ID</th>
        <th >Spec</th>
        <th>Name</th>
        <th>User</th>
        <th width="10%">Options</th>
      </tr>
      </thead>
      <% @builds.each do |build| %>
          <tbody>
          <tr>
            <td><%= build.id %></td>
            <td><%= link_to "#{build.spec}", build_path(build)%> </td>
            <td><%= link_to "#{build.name}", build_path(build) %></td>
            <td><%= link_to "#{build.user.username}", user_path(build.user)%></td>
            <td>
              <%= link_to "edit", edit_build_path(build) %> /
              <%= link_to "delete", build, method: :delete, data: {confirm: "Are you sure?"}%>
            </td>
          </tr>
          </tbody>
      <% end %>
    </table>

    <h3>Latest posts</h3>

    <table class="table table-bordered responsive">
      <thead>
      <tr>
        <th width="2%">ID</th>
        <th width="10%">Published</th>
        <th>Title</th>
        <th>Category</th>
        <th>User</th>
        <th>Comments</th>
        <th width="10%">Options</th>
      </tr>
      </thead>
      <% @posts.each do |post| %>
          <tbody>
          <tr>
            <td><%= post.id %></td>
            <td><span  class="label label-secondary"><%= post.published ? "published" : "not published" %></span></td>
            <td><%= link_to "#{post.title}", post %></td>
            <td><%= post.category.try(:name) %></td>
            <td><%= link_to "#{post.user.username}", user_path(post.user)%></td>
            <th><%= post.comments.size %></th>
            <td>
              <%= link_to "edit", edit_post_path(post) %> /
              <%= link_to "delete", post, method: :delete, data: {confirm: "Are you sure?"}%>
            </td>
          </tr>
          </tbody>
      <% end %>
    </table>

    <h3>Showcase Items</h3>

    <table class="table table-bordered responsive">
      <thead>
      <tr>
        <th width="2%">ID</th>
        <th width="20%">Name</th>
        <th width="10%">HeaderImgUrl</th>
        <th width="10%">AlbumUrl</th>
        <th width="10%">User</th>
        <th width="10%">Options</th>
      </tr>
      </thead>
      <% @showcases.each do |showcase| %>
          <tbody>
          <tr>
            <td><%= showcase.id %></td>
            <td><%= link_to "#{showcase.name}", showcase%> </td>
            <td><%= link_to "#{showcase.header_img_url}", showcase.header_img_url %></td>
            <td><%= link_to "#{showcase.album_url}", showcase.album_url %></td>
            <td><%= link_to "#{showcase.user.username}", user_path(showcase.user)%></td>
            <td>
              <%= link_to "edit", edit_showcase_path(showcase) %> /
              <%= link_to "delete", showcase, method: :delete, data: {confirm: "Are you sure?"}%>
            </td>
          </tr>
          </tbody>
      <% end %>
    </table>


    <h3>Latest Users</h3>

    <table class="table table-bordered responsive">
      <thead>
      <tr>
        <th width="2%">ID</th>
        <th width="10%">CreatedAt</th>
        <th>Username</th>
        <th>Email</th>
        <th>Options</th>
        <th>Admin</th>
      </tr>
      </thead>
      <% @users.each do |user| %>
          <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><span  class="label label-secondary"><%= user.created_at %></span></td>
            <td><%= link_to "#{user.username}", user %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to "edit profile", edit_user_path(user) %> /
              <% unless user == current_user && current_user.admin? %>
                  <%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </td>
            <td><% if user.admin? %><span class="label label-info">Admin</span><% end %></td>
          </tr>
          </tbody>
      <% end %>
    </table>




  </div>
</div>
