<% @posts.each do |post| %>    
<ul class="inline-list items admin-items">
  <li><%= post.id %>.</li>
  <li class="label alert"><%= post.published ? "published" : "not published" %></li>
  <li><%= post.comments.size %></li>           
  <li><%= post.category.try(:name) %></li>     
  <li><%= link_to "#{post.title}", post %></li>
  <li><%= link_to "edit", edit_post_path(post) %></li>
  <li><%= link_to "delete", post, method: :delete, data: {confirm: "Are you sure?"} %></li>
</ul>
<% end %>
<%= paginate @posts %>
