<h3>Showcase Items</h3>

<table class="table table-bordered responsive">
  <thead>
  <tr>
    <th width="2%">ID</th>
    <th >Name</th>
    <th>HeaderImgUrl</th>
    <th>AlbumUrl</th>
    <th>User</th>
    <th width="10%">Options</th>
    <th>UserSoftDeleted</th>
  </tr>
  </thead>
  <% @showcases.each do |showcase| %>
      <tbody>
      <tr>
        <td><%= showcase.id %></td>
        <td><%= link_to "#{showcase.name}", showcase%> </td>
        <td><%= link_to "#{showcase.header_img_url}", showcase.header_img_url %></td>
        <td><%= link_to "#{showcase.album_url}", showcase.album_url %></td>
        <td><%= link_to "#{showcase.user.username}", user_path(showcase.user)%></td>
        <td>
          <%= link_to "edit", edit_showcase_path(showcase) %> /
          <%= link_to "delete", showcase, method: :delete, data: {confirm: "Are you sure?"}%>
        </td>

        <td>
          <% if showcase.user.deleted_at %>
              <span><%= showcase.user.deleted_at %></span>
          <% end %>
        </td>
      </tr>
      </tbody>
  <% end %>
</table>
<%= paginate @showcases %>