.row
  .col-sm-6.col-sm-offset-3
    %p.alert.alert-info
      If you need help with picking up hardware for you build, please select "Request a Build" in the select menu below and you'll receive a personal list of hardware that fits your budget for $10 fee. (dont forget to add your budget, and purpose of the build)
    = simple_form_for @contact do |f|
      = f.input :request_type,                         |
        label: false,                                  |
        collection: ["Contact Us", "Request a Build"], |
        selected: "Contact Us"                         |
      = f.input :name, class:"form-control", label: false, placeholder: "Name", required: true
      = f.input :email, class:"form-control", label: false, placeholder: "Email", required: true
      = f.input :message, class:"form-control", label: false, placeholder: "Message", as: :text, required: false, input_html: {rows:10}
      = f.input :nickname, hint: "Leave this field blank!", wrapper_html: {class:"hidden"}
      = f.button :submit, "Send message", class:"btn btn-primary"
.row
  .col-sm-12
    = render "shared/info_sec"
