<div class="row">

   <div class="medium-7 large-centered columns ">
        
      <%= simple_form_for @contact do |f|%>
          
      <%= f.input :request_type, label: false, prompt: "Please select what you need", collection: ["Contact Us", "Request a Build"]%>
          
      <div class="contact_forms" style="display:none;">    
          <div class="contact_fields">     
            <h4 class="subheader">Contact Us</h4>     
            <%= f.input :name, label: false, placeholder: "Name", required: true %>
            <%= f.input :email, label: false, placeholder: "Email", required: true %>
            <%= f.input :message, label: false, placeholder: "Message", as: :text, required: false, input_html: {rows:10}%>
          </div>
          
          <div class="request_fields">
            <h4 class="subheader">Request a build receipt</h4>
            <p class="callout panel edit_user">If you need help with picking up hardware for you build, please submit the form below and you'll receive a personal list of hardware that fits your budget for $15.</p>  
            <%= f.input :name, label: false, placeholder: "Name", required: true %>
            <%= f.input :email, label: false, placeholder: "Email", required: true %>            
            <%= f.input :budget, label: false, placeholder: "Budget", required: true %>
            <%= f.input :purpose, label: false, placeholder: "Main purpose of the build (e.g. Video Editing)", required: true %>
            <%= f.input :build_info, label: false, placeholder: "Any info about the build", as: :text, required: false, input_html: {rows:10} %>     
          </div>     
          
          <%= f.input :nickname, hint: "Leave this field blank!", wrapper_html: {class:"hidden"}%>
          <%= f.button :submit, "Sent message", class:"button tiny"%>
        </div>
        <% end %>
    </div>
    
  </div>

    
    <script>
    $(document).ready(function(){

      $("#contact_request_type").change(function(){
        if ($("#contact_request_type").val() == 'Contact Us'){
            $(".request_fields").hide();
            $("div.contact_forms, .contact_fields").show()
        }
        else if ($("#contact_request_type").val() == 'Request a Build'){
          $(".contact_fields").hide();
          $("div.contact_forms, .request_fields").show()
        }
        else {
          $(".contact_forms, .request_fields, .contact_fields").hide();
        }
      });
    });
    </script>
    
