<style>
.col-sm-3:nth-child(4n+2) { clear: both; }
</style>
<% if showcases.present? %>		  
  <% showcases.each do |showcase| %>
    <% cache(showcase) do %><%# rd caching %>

        <div class="col-sm-3 "> 

          <article class="album">
            
             <header>
               
               <% if showcase.album_url.present? %>
                <%= link_to showcase.album_url do %>
                  <%= image_tag "#{showcase.header_img_url}", class: "header_img"  %>
                <% end %>
               <% else%>
                 <%= link_to showcase.header_img_url do %>
                   <%= image_tag "#{showcase.header_img_url}", class: "header_img"  %>
                 <% end %>
               <% end %>               


                <%= link_to user_path(showcase.user), class:"album-options" do %>
                  <i class="entypo-cog"></i>
                  <%= "#{showcase.user.username}".html_safe%>
               <% end %>
             </header>
            

             <section class="album-info">
                <h3><%= link_to "#{showcase.name}", showcase %></h3>
            </section> 

            <footer> 
              <div class="album-images-count"> 
        				<i class="fa fa-calendar"> </i>
                <%= time_ago_in_words(showcase.created_at) + ' ago' %> by <%= showcase.user.username %>
              </div>

            </footer>
          </article>

        </div>

        
    <% end %><%# rd caching %>
  <% end %>
  


      <div class="text-center">
        <%= paginate showcases %>
      </div>

       
<% else %>
<div class="col-sm-12 text-center">
  <h3>Nothing here, yet ¯\_(ツ)_/¯</h3>
  But you can check <%= link_to "Builds", builds_path %> or <%= link_to "Posts", posts_path %>
</div>
<% end %>


