<%
meta title: "#{@showcase.name}",
description: "hqx86.com hackintosh builds, guides, news",
keywords: %w(hackintosh macos mac osx86 osx builds hqx86.com instructions)<<@showcase.name
%>

  <div class="row">
    <div class="col-md-12">      	

      <h1>
        <%= @showcase.name %>      
        <% if current_user.try(:admin?)  %>
          <span style="font-size: 12px;">                
            <%= link_to '<i class="fa fa-pencil-square-o"> edit</i>'.html_safe, edit_showcase_path(@showcase) if current_user.try(:admin?) || current_user.try(:id) == @showcase.user_id%>	 </span>
        <% end %>
      </h1>

      
      
      
      
      <div class="row">
        <div class="col-sm-12">
          <%= @showcase.created_at.to_formatted_s(:long) %>
          by <%= @showcase.user.username %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-5">
             <%= image_tag "#{@showcase.header_img_url}", class: "img-responsive" if @showcase.header_img_url.present? %>
        </div>
        <div class="col-sm-7">
          <%= markdown(@showcase.description) %>
        </div>

      </div>
     

<br/>

      
      <br/>
      
      <%= render "shared/share_links"%>
      

  
          
      <hr/>
      <%= render partial: "comments/form", locals: {commentable: @showcase}%>
      <%= render partial: "comments/comments", locals: {commentable: @showcase} %>
      <br/>
      <%= render "shared/info_sec"%>
    </div>
  </div>
  





