<%= simple_form_for(@post) do |f| %>
<div class="row">
  <div class="medium-8 columns">
    <%= f.input :title, placeholder: "Installations tips" %>
  </div>
  <div class="medium-4 columns">
    <%= f.association :category %>
  </div>
</div>
    
<div class="row">
  <div class="medium-6 columns">    
    <%= f.input :header_img_url, label: "Post header image URL" , placeholder: "http://i.imgur.com/qwerty.png" %>
  </div>
  <div class="medium-6 columns">
    <%= f.input :all_tags, label: "Tags(separated by comma)" , placeholder: "lorem, ipsum"%>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <%= link_to "Notes", "/pages/notes", class: "label-link", target: "_blank" %>
    <%= link_to "Markdown-Cheatsheet", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", class: "label-link", target: "_blank" %> 
    <%= f.input :body, placeholder: "use markdown", input_html: {rows: 30} %>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <%= f.input :published, inline_label: "Publish this post (make it visible for others)", as: :boolean %>
    <%= f.input :tweeted, inline_label: "Tweet this (can be done only once)", as: :boolean if @post.new_record? or !@post.tweeted? %>
    <%= f.button :submit, "Submit", class: "button tiny" %>
    <small><%= link_to "Cancel", root_path, class: "button secondary tiny" %></small>	  
  </div>
</div>

<% end %>
