
		<style>
		.ms-container .ms-list {
			width: 135px;
			height: 205px;
		}
		
		.post-save-changes {
			float: right;
		}
		
		@media screen and (max-width: 789px)
		{
			.post-save-changes {
				float: none;
				margin-bottom: 20px;
			}
		}
		</style>
  <%= simple_form_for @post do |f| %>	
		<div class="row">
			<div class="col-sm-2 post-save-changes">
        <%= button_tag(type: "submit", class:"btn btn-green btn-lg btn-block btn-icon") do %>
          Publish
          <i class="fa fa-check"></i>
        <% end %>
			</div>
			
			<div class="col-sm-10">
        <%= f.input_field :title, class:"form-control input-lg", placeholder:"Post title", type:"text"%>
			</div>
		</div>
		
		<br />
    
		<div class="row">
			<div class="col-sm-12">
        <%= f.input_field :body, as: :text, class:"form-control autogrow", rows:"18" %>
			</div>
		</div>
    
		<br />
    
		<div class="row">		
			<div class="col-sm-4">
				
				<div class="panel panel-primary" data-collapsed="0">
			
					<div class="panel-heading">
						<div class="panel-title">
							Publish Settings
						</div>
						

					</div>
					
					<div class="panel-body">
						
						<div class="checkbox ">
              <%= f.input_field :published, inline_label: 'Make public' %>   
						</div>
            
						<div class="checkbox ">
              <%= f.input_field :tweeted, inline_label: 'Tweet to @hqx86' %>   
						</div>
						
					</div>
				
				</div>
				
			</div>
			<div class="col-sm-4">
				
				<div class="panel panel-primary" data-collapsed="0">
					<div class="panel-heading">
						<div class="panel-title">
							Featured Image
						</div>
					</div>
					
					<div class="panel-body">		
						<%= f.input_field :header_img_url, class:"form-control", placeholder: "http://i.imgur.com/qwerty.png"  %>
					</div>
				</div>
				<div class="panel panel-primary" data-collapsed="0">
			
					<div class="panel-heading">
						<div class="panel-title">
							Category
						</div>
						
						<div class="panel-options">
							<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
						</div>
					</div>
					
					<div class="panel-body">
						
            <%= f.association :category, class:"form-control", label:false,  selected: @post.category || "news"  %>
						
					</div>
				
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-primary" data-collapsed="0">
					<div class="panel-heading">
						<div class="panel-title">
							Tags
						</div>
					</div>
					
					<div class="panel-body">						
						<p>Add Post Tags</p>
						<%= f.input :all_tags, label: "Tags(separated by comma)" , placeholder: "lorem, ipsum", label:false%>
					</div>					
				</div>
			</div>
    </div>
	<% end %>
	


