
<% if posts.present? %>
    <% posts.each do |post| %>
        <% cache(post) do %><%# rd caching %>
            <% if post.published? %>

                <div class="col-sm-4 ">

                  <article class="album">

                    <!-- <header>
               <% if post.header_img_url.present? %>
                <%= link_to post do %>
                  <%= image_tag "#{post.header_img_url}", class: "header_img"  %>
                <% end %>
              <% end %>

                <%= link_to user_path(post.user), class:"album-options" do %>
                  <i class="entypo-cog"></i>
                  <%= "#{post.user.username}".html_safe%> 
               <% end %>
             </header>  -->


                    <section class="album-info">
                      <h3><%= link_to "#{post.title}", post %></h3>
                      <p><%= truncate(post.body, omission: "...", length: 450) %></p>
                    </section>

                    <footer>
                      <div class="album-images-count">
                        <i class="fa fa-calendar"> </i>
                        <%= "#{post.created_at.to_formatted_s(:long)}" %>
                      </div>

                      <div class="album-options">
                        <span class="label label-info "><%= post.cached_category if post.cached_category%></span>
                      </div>
                    </footer>
                  </article>

                </div>


            <% end %>
        <% end %><%# rd caching %>
    <% end %>



    <div class="text-center">
      <%= paginate posts %>
    </div>


<% else %>
    <div class="col-sm-12 text-center">
      <h3>Nothing here, yet ¯\_(ツ)_/¯</h3>
      But you can check <%= link_to "Builds", builds_path %> or <%= link_to "Showcase section", showcases_path %>
    </div>
<% end %>


