<%
meta title: "hqx86.com builds, guides, news",
     description: "hqx86.com builds, guides, news",
     keywords: %w(hackintosh macos mac x86 osx builds hqx86.com instructions)
%>

<div class="row">
	<div class="small-12 medium-7 large-8 columns">
  <% if @posts.present? %>		  
    <% @posts.each do |post| %>
    <div class="post_wrapper <%= 'not_published' if !post.published && current_user.try(:admin)%>">
      <h3 class="subheader"><%= link_to "#{post.title}", post%></h3>
      
      <ul class="inline-list post_info">
        <li><%= post.user.username %></li>
        <li><%= post.created_at.to_formatted_s(:long) %></li>
        <li class="label info"><%= post.category.try(:name) || "uncategorized" %></li>
      </ul>
    
      <%= image_tag "#{post.header_img_url}", class: "header_img" if post.header_img_url.present? %>
      
      <div class="excerpt">
        <%= markdown(truncate(post.body, omission: "...", length: 450){link_to "[continue reading]", post, class:"omission"}) %>
      </div>
    </div>
    <% end %>
    
    <%= paginate @posts %>
    
    <% else %>
    <div class="panel radius b30">
     <h4>Nothing's here ¯\_(ツ)_/¯</h4>
    But you can check <%= link_to "Home page", root_path %>  or  <%= link_to "Builds", builds_path %>
    </div>
    <% end %>
    <%# render "shared/ad_300x250"%>
  </div>
  
  <div class="medium-5 large-4  columns show-for-medium-up sidebar">    
      <%= form_tag(posts_path, method: "get") do%>
      <%= text_field_tag :search, params[:search], placeholder: "search", class: "search"%>
      <% end %>

      <%= render "shared/twitter_feed"%>
      <%= render "shared/ad_300x600"%>
      <%= render "shared/tag_cloud" %>
      <%= render "shared/ad_300x250"%>
  </div>
</div>


<%= render "shared/ad_btm"%>