<div class="row">
	<div class="small-12 medium-7 large-8 columns">		  
    <div class="post_wrapper">
      <h3 class="subheader"><%= @post.title %></h3>
      <ul class="inline-list post_info">
        <li><%= @post.user.username %></li>
        <li><%= @post.created_at.to_formatted_s(:long) %></li>
        <li class="label info"><%= @post.category.try(:name) || "uncategorized" %></li>
      </ul>
      
      <%= image_tag "#{@post.header_img_url}", class: "header_img" if @post.header_img_url.present? %><%  %>
     
      <div class="post_content">
        <%= markdown(@post.body) %>
      </div>
      
      <%= render "shared/share_links"%>
      <hr/>
      <%= render partial: "comments/comments", locals: {commentable: @post} %>
      <%= render partial: "comments/form", locals: {commentable: @post}%>
    </div>
  </div>
  
  <div class="medium-5 large-4  columns show-for-medium-up sidebar">      
    <%= form_tag(posts_path, method: "get") do%>
      <%= text_field_tag :search, params[:search], placeholder: "search", class: "search"%>
    <% end %>
    
      <%= render "shared/twitter_feed"%>
      <%= render "shared/ad_300x600"%>
      <%= render "shared/ad_300x250"%>
    
  </div>
</div>


