
<%
meta title: "#{@post.title}",
description: "hqx86.com hackintosh builds, guides, news",
keywords: %w(hackintosh macos mac osx86 osx builds hqx86.com instructions)<<@post.all_tags
%>

  <div class="row">
    <div class="col-md-12">      	

      <h1>
        <%= @post.title %>      
        <% if current_user.try(:admin?)  %>
          <span style="font-size: 12px;">                
            <%= link_to '<i class="fa fa-pencil-square-o"> edit</i>'.html_safe, edit_post_path(@post) if current_user.try(:admin?) || current_user.try(:id) == @post.user_id%>	 </span>
        <% end %>
      </h1>

      
      
      
      
      <div class="row">
        <div class="col-sm-12">
          <%= @post.user.username %>
          <%= @post.created_at.to_formatted_s(:long) %>
     
          <% if @post.cached_category %>
            <div class="label label-info"><%= @post.cached_category  %></div>
          <% end %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-7">
          <%= markdown(@post.body) %>
        </div>
        <div class="col-sm-5">
             <%= image_tag "#{@post.header_img_url}", class: "img-responsive" if @post.header_img_url.present? %>
        </div>
      </div>
     

<br/>

        

      
      <div class="tags">
        tags: <%=raw tag_links(@post.all_tags)%>
      </div>
      
      <br/>
      
      <%= render "shared/share_links"%>
      

  
          
      <hr/>
      <%= render partial: "comments/form", locals: {commentable: @post}%>
      <%= render partial: "comments/comments", locals: {commentable: @post} %>
      <br/>
      <%= render "shared/info_sec"%>
    </div>
  </div>
  





